<!DOCTYPE html>
<html>
<head>
  <title>DatabaseOptimizations</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- <h1>Search the database: </h1>
  <%= form_tag(search_reports_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Database" %>
    <%= submit_tag "Search" %>
  <% end %> -->
</head>
<body>

<%= yield %>

</body>
</html>
